body{
   font-family: Roboto; 
   margin: 0;
   overflow-x: hidden;
}

/* <---Header---> */
.Header{
    display: flex;
    border-radius: 20px; 
    background-color: #FD853A;
    color: black;
    font-size: 10px;
    justify-content: space-between;
    margin-top: 5px;
    position: sticky;
    top: 0;
}

/* Style for the hamburger icon */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
}

/* Style for the menu items */
.menu-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-items li {
    display: inline-block;
    margin-right: 20px;
}



/* <---First Column---> */

.Profile{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.MyProfile1{
    display: flex;
    flex-direction: column;
}

.MyProfile1 img{
    width: 180px;
    height: 200px;
}


h2{
    margin-left: 30px;
}
 
ul{
  display: flex;
  
}
 
li{
   list-style: none;
   margin-right: 1cm;
   font-size: 15px;
   
}

span{
    color: #FD853A;
}

#btn{
    border: none;
    border-radius: 20px;
    background-color: #FD853A;
}

#Name{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

#Story{
    font-size: 15px;
}

#Service{
    color: #F2F4F7;
    
}

/* <------> */
#Head{
    color: #1D2939;
}


#grid1, #grid2, #grid3{
    width: 25%;
    box-shadow: 1px 2px 1px #FD853A ;
    border-radius: 20px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 10px;
}

.mid{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Expreince{
    background-color: black;
    width: 100%;
    height: 50vh;
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.Portfolio{
    background-color: #F2F4F7;
    width: 100%;
    height: 65vh;
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.Imagee{
    display: flex;
    width: 1000px;
    height: 280px; 
    margin: 20px;
    /* justify-content: space-between; */
    gap: 20px;
}

#Artificier{
    border-radius: 25px;
    background-color: white;
    box-shadow: 1px 2px 1px #FD853A;
    background-image: url(./Assets/Screenshot\ 2024-02-26\ 142557.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    
}

#ToDo{
    border-radius: 25px;
    background-color: white;
    box-shadow: 1px 2px 1px #FD853A;
    background-image: url(./Assets/Screenshot\ 2024-02-28\ 085838.png);
    background-size: contain;
    width: 300px;
    background-repeat: no-repeat;
}

#Art{
    color: #FD853A;
    margin-top: 290px;
    font-size: 30px;
    margin-left: 130px;
}

h2 a{
    text-decoration: none;
    color: #FD853A;
}

#Portal{
    border-radius: 20px;
    background-color: white;
    height: 400px;
    box-shadow: 1px 2px 1px #FD853A;
}

button{
    border: none;
    background-color: #FD853A;
    border-radius: 20px;
    color: white;
    height: 5vh;
}

button a{
    text-decoration: none;
    color: black;
}

.socials{
    color:  #FD853A;
}

.Contact{
    background-color: white;
    box-shadow: 1px 2px 1px #FD853A;
    border-radius: 20px;
    width: 200px;
    height: 290px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* margin-left: 750px; */
}

#Portal{
    border-radius: 27em;
    background-color: white;
    height: 400px;
    box-shadow: 1px 2px 1px #FD853A;
}



#Submit{
    border-radius: 20px;
    width: 50px;
    height: 20px;
    margin-bottom: 20px;
    padding: 0px;
    margin: 0px;
}

















@media only screen and (max-width: 768px) {
    .Header{
        width: 100%;
    }

    .menu-items {
        display: none;
    }

    .hamburger {
        display: flex;
        margin-right: 30px;
        margin-top: 10px;
    }
    
    #picture{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #grid1, #grid2, #grid3 {
        width: 85%; 
        padding: 1em;
        /* margin: 10px 0;  */
    }

    .mid {
        display: flex;
        flex-direction: column;
        background-color: black;
        width: 100%;
        
    }

    .Expreince{
        width: 100%;
        height: 50%;

    }

    .Profile {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #Name {
        margin-right: 0; 
    }
    
    #Art {
        margin-top: 10px; 
        margin-left: 0; 
        font-size: 20px; 
        text-align: center;
        width: 50%;
        height: 70%;
    }

    .portfolio {
            width: 100%;
            height: 80%; 
            border-radius: 20px;
            margin-top: 3em;

        }
    
        .Imagee {
            display: flex;
            flex-direction: column; 
            align-items: center; 
            gap: 20px;
            width: 100%; 
            height:50%;
        }

    
         #Artificier{
            width: 100%;
            height: 50%;
        }

        #Art {
            margin-top: 130px; 
            text-align: center; 
        } 
        
        #Arts {
            margin-top: 150px; 
            text-align: center; 
        } 

        #Service{
            color: #F2F4F7;
            text-align: center;
            
        }
        
        

        #Artificier{
            border-radius: 15px;
            background-color: white;
            box-shadow: 1px 2px 1px #FD853A;
            background-image: url(./Assets/Screenshot\ 2024-02-26\ 142557.png);
            background-repeat: no-repeat;
            background-size: contain;
            width: 300px;
            
        }
        
        #ToDo{
            border-radius: 15px;
            background-color: white;
            box-shadow: 1px 2px 1px #FD853A;
            background-image: url(./Assets/Screenshot\ 2024-02-28\ 085838.png);
            background-size: contain;
            width: 300px;
            height: auto;
            margin-top: 5em;
            background-repeat: no-repeat;
        }

        #Head{
            /* color: #F2F4F7; */
            text-align: center;
        }

        .Contact{
            background-color: white;
            box-shadow: 1px 2px 1px #FD853A;
            border-radius: 20px;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center; 
         }

         .cd{
            margin-left: 8em;
            display: flex;
            flex-direction: column;
            justify-content: center;
         }
        .Portfolio{
            background-color: #F2F4F7;
            width: 100%;
            height: 65vh;
            border-radius: 2em;
        }
        
        
    
        
}
    

